@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 
    [Wontae] Asked ChatGPT to make a pallete,
    based on SimpleGameHosting's primary color #5F4BB6
    And this project's default black(#0a0a0a) and white(#ededed)
  */
  /* 
    [Wontae] removed @media (prefers-color-scheme: dark) braket 
    which only meant to react to the initial user browser dark mode setting.
    NOW defines to set of temporary color plates according to light-mode/dark-mode classname. 
    Because,  DarkModeContext&useLocalStorageState detects @media (prefers-color-scheme: dark) and set the initial value
  */

  --primary-strong: #48398a;
  --primary-normal: #5f4bb6;
  --primary-light: #7f6dcc;

  --error-strong: #7a2833;
  --error-normal: #b03a48;
  --error-light: #d97080;

  --success-strong: #2a6c4d;
  --success-normal: #3b8a5c;
  --success-light: #9bd4b5;

  &.light-mode {
    --background-strong: #e6e6e6;
    --background-normal: #f5f5f5;
    --background-light: #ffffff;

    --foreground-strong: #171717;
    --foreground-normal: #333333;
    --foreground-light: #494454;

    --secondary-strong: #b89b00;
    --secondary-normal: #ffd700;
    --secondary-light: #ffe866;
  }

  &.dark-mode {
    --background-strong: #171717;
    --background-normal: #333333;
    --background-light: #494454;

    --foreground-strong: #e6e6e6;
    --foreground-normal: #f5f5f5;
    --foreground-light: #ffffff;

    --secondary-strong: #cc4f4a;
    --secondary-normal: #ff6f61;
    --secondary-light: #ff9f90;
  }
}

body {
  color: var(--foreground-light);
  background: var(--background-light);
  font-family: Arial, Helvetica, sans-serif;
}
